@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  // Theme 1

  // Backgrounds

  // (main background)
  --very-dark-desaturated-blue-bg: hsl(222, 26%, 31%);
  // (toggle background, keypad background)
  --very-dark-desaturated-blue-keyboard-bg: hsl(223, 31%, 20%);
  // (screen background)
  --very-dark-desaturated-blue-screen-bg: hsl(224, 36%, 15%);

  // Keys

  // (key background)
  --desaturated-dark-blue: hsl(225, 21%, 49%);
  // (key shadow)
  --desaturated-dark-blue-shadow: hsl(224, 28%, 35%);

  // (key background, toggle)
  --red: hsl(6, 63%, 50%);
  // (key shadow)
  --dark-red-shadow: hsl(6, 70%, 34%);

  // (key background)
  --light-grayish-orange: hsl(30, 25%, 89%);
  // (key shadow)
  --grayish-orange-shadow: hsl(28, 16%, 65%);

  // Text

  --very-dark-grayish-blue: hsl(221, 14%, 31%);
  --white: rgb(255, 255, 255);
  --equal-btn: var(--white);
  --screen-white: rgb(255, 255, 255);
}

.attribution {
  margin-top: 1rem;
  color: var(--screen-white);
  font-size: 11px;
  text-align: center;
  a { color: hsl(228, 100%, 76%); }
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 32px;
  background-color: var(--very-dark-desaturated-blue-bg);
}

h1,
h2,
h3 {
  color: var(--screen-white);
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 1.6rem;
    }

    .theme-toggle {
      font-size: 0.8rem;
    }
  }

  .screen {
    margin-top: 1rem;
    background-color: var(--very-dark-desaturated-blue-screen-bg);
    border-radius: 8px;
    text-align: right;
    padding: 1.6rem;
  }

  .numpad {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(5, 3rem);
    gap: 1.2rem;
    padding: 1.2rem;
    background-color: var(--very-dark-desaturated-blue-keyboard-bg);
    border-radius: 8px;

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(4, 3rem);
    }

    .btn {
      border-style: none;
      border-radius: 8px;
      background-color: var(--light-grayish-orange);
      box-shadow: 0 4px var(--grayish-orange-shadow);
      color: var(--very-dark-grayish-blue);
      font-weight: bold;
      font-size: 2rem;
      
      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: translateY(2px);
        box-shadow: 0 2px var(--grayish-orange-shadow);
      }

      &--del,
      &--equal {
        color: var(--white);
        font-size: 0.5em;
      }

      &--del {
        background-color: var(--desaturated-dark-blue);
        box-shadow: 0 4px var(--desaturated-dark-blue-shadow);

        &:active {
          box-shadow: 0 2px var(--desaturated-dark-blue-shadow);
        }
      }

      &--equal {
        background-color: var(--red);
        box-shadow: 0 4px var(--dark-red-shadow);

        &:active {
          box-shadow: 0 2px var(--dark-red-shadow);
        }
      }
    }

    #reset-btn {
      grid-area: 5 / 1 / 6 / 3;
    }

    #equal-btn {
      grid-area: 5 / 3 / 6 / 5;
      color: var(--equal-btn);
    }
  }
}

body {
  &.theme2 {
    --very-dark-desaturated-blue-bg: hsl(0, 0%, 90%);
    --very-dark-desaturated-blue-keyboard-bg: hsl(0, 5%, 81%);
    --very-dark-desaturated-blue-screen-bg: hsl(0, 0%, 93%);

    --desaturated-dark-blue: hsl(185, 42%, 37%);
    --desaturated-dark-blue-shadow: hsl(185, 58%, 25%);
    --red: hsl(25, 98%, 40%);
    --dark-red-shadow: hsl(25, 99%, 27%);
    --light-grayish-orange: hsl(45, 7%, 89%);
    --grayish-orange-shadow: hsl(35, 11%, 61%);

    --very-dark-grayish-blue: hsl(60, 10%, 19%);
    --white: rgb(255, 255, 255);
    --screen-white: rgb(0, 0, 0);
  }

  &.theme3 {
    // Theme 3

    // Backgrounds

    // (main background)
    --very-dark-desaturated-blue-bg: hsl(268, 75%, 9%);
    // (toggle background, keypad background)
    --very-dark-desaturated-blue-keyboard-bg: hsl(268, 71%, 12%);
    // (screen background)
    --very-dark-desaturated-blue-screen-bg: hsl(268, 71%, 12%);

    // Keys

    // (key background)
    --desaturated-dark-blue: hsl(281, 89%, 26%);
    // (key shadow)
    --desaturated-dark-blue-shadow: hsl(285, 91%, 52%);

    // (key background, toggle)
    --red: hsl(176, 100%, 44%);
    // (key shadow)
    --dark-red-shadow: hsl(177, 92%, 70%);

    // (key background)
    --light-grayish-orange: hsl(268, 47%, 21%);
    // (key shadow)
    --grayish-orange-shadow: hsl(290, 70%, 36%);

    // Text

    --very-dark-grayish-blue: hsl(52, 100%, 62%);
    --white: rgb(255, 255, 255);
    --screen-white: hsl(52, 100%, 62%);
    --equal-btn: hsl(198, 20%, 13%);
  }
}
